language: android

notifications:
  email: false

sudo: false

android:
  components:
    - build-tools-23.0.1
    - android-23
    - extra-android-m2repository
    - extra-android-support
    
script:
  - ./gradlew assembleRelease
  
deploy:
  provider: releases
  api_key:
    secure: 
  file: App/build/outputs/apk/app-release.apk
  skip_cleanup: true
  on:
    tags: true
